<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.DacFx.x64" version="150.4573.2" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.4.0.991265" targetFramework="net472" />
</packages>